node_modules
node_modules
.next/app-build-manifest.json
.next/app-path-routes-manifest.json
.next/BUILD_ID
.next/build-manifest.json
.next/export-marker.json
.next/images-manifest.json
.next/next-minimal-server.js.nft.json
.next/next-server.js.nft.json
.next/package.json
.next/prerender-manifest.js
.next/prerender-manifest.json
.next/react-loadable-manifest.json
.next/required-server-files.json
.next/routes-manifest.json
.next/trace
.next/cache/.tsbuildinfo
.next/cache/eslint/.cache_1cdyuu4
.next/cache/images/g8uejSyI3ao7bcRMCJrXlJY+GhtJD4F7npqcpX5DYlc=/60.1717009634040.oncCTdbCyqbq629VuyVZQ4ACN0iOuNpYO+8ue3bSaVM=.webp
.next/cache/images/gOhzdXr-p58X8d44-r5i-D4BtQ1A8SJdHiyEdReeLbI=/60.1717009288951.t4ol0MJ6DdzdpO-EMXrSL6kO1V2ovLuaeQxxx+LlBPg=.webp
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/4.pack.gz
.next/cache/webpack/client-development/5.pack.gz
.next/cache/webpack/client-development/6.pack.gz
.next/cache/webpack/client-development/7.pack.gz
.next/cache/webpack/client-development/8.pack.gz
.next/cache/webpack/client-development/9.pack.gz
.next/cache/webpack/client-development/10.pack.gz
.next/cache/webpack/client-development/11.pack.gz
.next/cache/webpack/client-development/12.pack.gz
.next/cache/webpack/client-development/13.pack.gz
.next/cache/webpack/client-development/14.pack.gz
.next/cache/webpack/client-development/15.pack.gz
.next/cache/webpack/client-development/16.pack.gz
.next/cache/webpack/client-development/17.pack.gz
.next/cache/webpack/client-development/18.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-development-fallback/0.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz
.next/cache/webpack/client-production/0.pack
.next/cache/webpack/client-production/1.pack
.next/cache/webpack/client-production/2.pack
.next/cache/webpack/client-production/index.pack
.next/cache/webpack/client-production/index.pack.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/4.pack.gz
.next/cache/webpack/server-development/5.pack.gz
.next/cache/webpack/server-development/6.pack.gz
.next/cache/webpack/server-development/7.pack.gz
.next/cache/webpack/server-development/8.pack.gz
.next/cache/webpack/server-development/9.pack.gz
.next/cache/webpack/server-development/10.pack.gz
.next/cache/webpack/server-development/11.pack.gz
.next/cache/webpack/server-development/12.pack.gz
.next/cache/webpack/server-development/13.pack.gz
.next/cache/webpack/server-development/14.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/cache/webpack/server-production/0.pack
.next/cache/webpack/server-production/index.pack
.next/server/app-paths-manifest.json
.next/server/font-manifest.json
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/webpack-runtime.js
.next/server/app/_not-found_client-reference-manifest.js
.next/server/app/_not-found.html
.next/server/app/_not-found.js
.next/server/app/_not-found.js.nft.json
.next/server/app/_not-found.meta
.next/server/app/_not-found.rsc
.next/server/app/dashboard.html
.next/server/app/dashboard.meta
.next/server/app/dashboard.rsc
.next/server/app/index.html
.next/server/app/index.meta
.next/server/app/index.rsc
.next/server/app/page_client-reference-manifest.js
.next/server/app/page.js
.next/server/app/page.js.nft.json
.next/server/app/dashboard/customers.html
.next/server/app/dashboard/customers.meta
.next/server/app/dashboard/customers.rsc
.next/server/app/dashboard/invoices.html
.next/server/app/dashboard/invoices.meta
.next/server/app/dashboard/invoices.rsc
.next/server/app/dashboard/page_client-reference-manifest.js
.next/server/app/dashboard/page.js
.next/server/app/dashboard/page.js.nft.json
.next/server/app/dashboard/customers/page_client-reference-manifest.js
.next/server/app/dashboard/customers/page.js
.next/server/app/dashboard/customers/page.js.nft.json
.next/server/app/dashboard/invoices/page_client-reference-manifest.js
.next/server/app/dashboard/invoices/page.js
.next/server/app/dashboard/invoices/page.js.nft.json
.next/server/chunks/561.js
.next/server/chunks/687.js
.next/server/chunks/956.js
.next/server/chunks/font-manifest.json
.next/server/pages/_app.js
.next/server/pages/_app.js.nft.json
.next/server/pages/_document.js
.next/server/pages/_document.js.nft.json
.next/server/pages/_error.js
.next/server/pages/_error.js.nft.json
.next/server/pages/404.html
.next/server/pages/500.html
.next/static/SOdMEjm_Qnskd6DQRqi4I/_buildManifest.js
.next/static/SOdMEjm_Qnskd6DQRqi4I/_ssgManifest.js
.next/static/chunks/326-6a7beca43bf27d09.js
.next/static/chunks/413-f2c3b1ec2902b37b.js
.next/static/chunks/472-d678cdfa8ebba6a0.js
.next/static/chunks/fd9d1056-ad47410d9999f966.js
.next/static/chunks/framework-8883d1e9be70c3da.js
.next/static/chunks/main-52555650bc39616e.js
.next/static/chunks/main-app-c7e071c6e19f0e08.js
.next/static/chunks/polyfills-c67a75d1b6f99dc8.js
.next/static/chunks/webpack-573eedd4b3324619.js
.next/static/chunks/app/_not-found-623f66bdaa4ecec5.js
.next/static/chunks/app/layout-844c78b164f72c85.js
.next/static/chunks/app/page-67b87a127018703d.js
.next/static/chunks/app/dashboard/layout-5c342fdb728ef75b.js
.next/static/chunks/app/dashboard/page-783c6622a9bd0248.js
.next/static/chunks/app/dashboard/customers/page-d048ac07897acd1a.js
.next/static/chunks/app/dashboard/invoices/page-6236600a873ccce4.js
.next/static/chunks/pages/_app-ee276fea40a4b191.js
.next/static/chunks/pages/_error-deeb844d2074b9d8.js
.next/static/css/654f0a1eca3fb23a.css
.next/static/media/05a31a2ca4975f99-s.woff2
.next/static/media/51ed15f9841b9f9d-s.woff2
.next/static/media/513657b02c5c193f-s.woff2
.next/static/media/c9a5bc6a7c948fb0-s.p.woff2
.next/static/media/c556ae4be4c9cfa8-s.p.woff2
.next/static/media/d6b16ce4a6175f26-s.woff2
.next/static/media/ebd7dc65a6ba3e83-s.p.woff2
.next/static/media/ec159349637c90ad-s.woff2
.next/static/media/fd4db3eb5472fc27-s.woff2
.next/types/package.json
.next/types/app/layout.ts
.next/types/app/page.ts
.next/types/app/dashboard/layout.ts
.next/types/app/dashboard/page.ts
.next/types/app/dashboard/customers/page.ts
.next/types/app/dashboard/invoices/page.ts
